h1 {
    color: red
}

/* 同一样式运用到不同元素，形成选择器列表，使用空格使文本更易读 */
/* 选择器列表中，如果一个选择器语法无效（存在错误），那么整个规则被忽略 */
p,
li{
    color: blue;
}

.special {
    color: green;
}

/* 包含选择符 */
li em {
    font-style: normal;
    color: orange;
}

/* 相邻选择符 */
h1 + p {
    font-size: 200%;
}

/* 根据状态确定样式 */
a:link {
    color: black;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

article p:first-child::first-line {
  font-size: 120%;
  font-weight: bold;
}

/* p:first-child 是伪类，选择一类型的第一个元素
    ::first-line 是伪元素，选择元素的第一行文本 */

/* ::after ::before 使用CSS将内容插入到文档中（末尾或者开头）
    一般是用来加一个图标（因为不会被屏幕阅读器读出—）*/

.ul  li {
  border-top: 5px solid red;
}